<!-- component -->
<div
  class="grid sm:grid-cols-2 gap-3 items-center justify-center grid-cols-2 mx-3 py-3"
>
  <div class="relative">
    <img
      src="https://s3-alpha-sig.figma.com/img/6f36/be79/fcb2378a8bef5fac404d9fea02ea53ea?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=btQV~9kazIk~G92D9cdbpwmunaxYgdbH59EcW44X1JaKSpMkxm97gjHqFcMW1RepX54AB9UcG-C1cp6q5cd21ejh2DpGxwSU3SExhm9Q3-ayilWzFOwdRb8Sz-wW2w-M6FltqJhuKdGkGf93BKqU3w2TeshYntmLPlSZnGkB4fnOHwjBUvgZQh3d0W4p4beOXs1c2-lErF8jiXFj~sWfj8-ICEJb8o~Tw5VGv8mKXQdWs2TViBlKSC5lzecCuSBwXkrCCPJIfwgAVlO3JCwlBWPGOJNZaivUwhI~WzMrIANk~jK6m7dpPlbHJyPaLVSiBfXfVGW2-FjHJOgPKmN1aQ__"
      alt="Special Spicy Fried Rice"
      class="w-full h-[37vh] object-cover rounded-[18px]"
    />
    <div
      class="absolute top-0 right-0 bg-gray-100 rounded-bl-3xl p-2 h-14 flex justify-center items-center"
    >
      <button
        class="top-0 right-0 bg-blue-500 rounded-full w-9 h-9 flex items-center justify-center"
      >
        <mat-icon
          ><span class="material-symbols-outlined text-white"> add </span></mat-icon
        >
      </button>
    </div>

    <div class="mt-2 text-center">
      <div class="font-semibold">Special Spicy Fried Rice</div>
      <div class="text-gray-500">$6.98</div>
    </div>
  </div>

  <div class="relative">
    <img
      src="https://s3-alpha-sig.figma.com/img/5c12/c47e/33d803548c5b2a7f90ad64a2b24b0c89?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C1L9YRM7U~QCoJ31jJvVirhh-XAR8c83y6fRhdOQ4w9Pjlqt7BFpxCCfwGE2AY8-tvB22wQdCXn8CUuew3HFZ4RSEhiG6wyeahFPhhQJoyjkQ6Sky8lFx0nyPSvGKPCM-sWwGF4cyE3zJtbRdfG~rVEkTfmqY6EjCkWAuTOsJ0N63-kJCTCfH~Ejn0kCdrw0wnwU8BaUweN9e7Tdrr~ZLu0Um8YaYF8cAnjykXGY7UnvoLBKM7o7aAb-OLuT-YlHzCr8t3redt0Vwzf~5vs3HtQeYwH~tFgc-y4r~ryQ29f4DavvjwEt-LoeGqsClv3n~t4eq7dxR2GjOu2yzww9VQ__"
      alt="Special Spicy Fried Rice"
      class="w-full h-[37vh] object-cover rounded-[18px]"
    />
    <div
      class="absolute top-0 right-0 bg-gray-100 rounded-bl-3xl p-2 h-14 flex justify-center items-center"
    >
      <button
        class="rounded-full bg-blue-500 w-9 h-9 flex items-center justify-center top-0 right-0"
      >
        <mat-icon
          ><span class="material-symbols-outlined text-white"> add </span></mat-icon
        >
      </button>
    </div>
    <div class="mt-2 text-center">
      <div class="font-semibold">Special Spicy Fried Rice</div>
      <div class="text-gray-500">$6.98</div>
    </div>
  </div>

  <div class="relative">
    <img
      src="https://s3-alpha-sig.figma.com/img/c56f/a96e/0fa5166fc6ed5fb9f12d4217e85d0c51?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DyUTjRa9ga0g3p2kiQcQMH6qUjMrLtO9deBtG3VrSbuywYCXL9hGU8xq7L6XFAyTZhO30jNes3oincAS0Hj7kte5DLRlfukzTyUdEZAnMUKxsPESg~xFgx~eVGCfmiPc2vXVdjaGRrAan7D78P1CBfWjELgbSpVt2Tv9UxCT3nahsaDx7GFhMTTvDuluzayjIdsAZxJHw~ztBXcFo8P0o6VHQYnh~LVT~JBrxGqrV1aWb1jPho5i71d1ctftFE9auQQbmO8jelKYgbrAlk5vkyQ~dq~Hgpf-APnYjBKi~D345ynQHhA4-YjnbKlW4XrGUsziP5ZKuy5jMzWl4-X4tg__"
      alt="Special Spicy Fried Rice"
      class="w-full h-[37vh] object-cover rounded-[18px]"
    />
    <div
      class="absolute top-0 right-0 bg-gray-100 rounded-bl-3xl p-2 h-14 flex justify-center items-center"
    >
      <button
        class="rounded-full bg-blue-500 w-9 h-9 flex items-center justify-center top-0 right-0"
      >
        <mat-icon
          ><span class="material-symbols-outlined text-white"> add </span></mat-icon
        >
      </button>
    </div>
    <div class="mt-2 text-center">
      <div class="font-semibold">Special Spicy Fried Rice</div>
      <div class="text-gray-500">$6.98</div>
    </div>
  </div>
  <div class="relative">
    <img
      src="https://s3-alpha-sig.figma.com/img/7d56/868a/6e7407ab694df9bea0e34ee65a9dc4cc?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=G4HfD2eb4rxBkwSn6CokFXWfuSGu6y5eTi0vht8BE6vofShrRmWZjUCuHP4L1NmdOAZRFiINpcAAsGteTUXq0SM0ESDDKZB65BcstXIwkyRqhB1NfWA9KmPYfAINPLvrFRIS84XJlAp8A9HF75GxQXenBk6ca1uhJT3iXqnD4z56VwLI9-PUj8IyWCh6e1OdjoMLItmFoU1GRLO4Ey3exG1i5FGjuyEsMHSg0NH8kdxlQa7SyCD~1-Drg~-Nejvhs8Op1nc6qN68J9tbElVWVOVce4qgJ7UKqDsrmSk6gZ2U078Ka9avV6MWyYv~oXaDG-Tkp6YTxePfQC-53F5okw__"
      alt="Special Spicy Fried Rice"
      class="w-full h-[37vh] object-cover rounded-[18px]"
    />
    <div
      class="absolute top-0 right-0 bg-gray-100 rounded-bl-3xl p-2 h-14 flex justify-center items-center"
    >
      <button
        class="rounded-full bg-blue-500 w-9 h-9 flex items-center justify-center top-0 right-0"
      >
        <mat-icon
          ><span class="material-symbols-outlined text-white"> add </span></mat-icon
        >
      </button>
    </div>
    <div class="mt-2 text-center">
      <div class="font-semibold">Special Spicy Fried Rice</div>
      <div class="text-gray-500">$6.98</div>
    </div>
  </div>
</div>
